<!DOCTYPE html>
<html>
  <head>
    <title>App001</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="/assets/stylesheets/application.scss" rel="stylesheet" type="text/css">
  </head>
<ul>
<li><a href="/students/search">Поиск</a></li>
</ul>
  <body>
    <%= yield %>
  </body>
</html>
